{% load static %}

<div class="font-sans mb-16">
    <div class="grid lg:grid-cols-2 items-center lg:gap-y-6 bg-no-repeat bg-cover bg-red-100 bg-opacity-85">
        <div class="max-lg:order-1 max-lg:text-center sm:p-12 p-4">
            <p class="text-black lg:text-5xl text-3xl font-bold lg:!leading-[56px] text-center italic">Compromiso</p>
            <p class="text-black mt-6 text-base leading-relaxed text-center font-normal">Con nuestros servicios encontrara la propiedad adecuada a sus necesidades en el lugar adecuado.</p>
        </div>

        <div>
            <img src="{% static '/media/Logo.webp' %}" alt="LogoVictoria">
        </div>
    </div>
    <a name="objetivos"></a>
</div>