<footer class="bg-red-400 mx-auto mt-4 w-full max-w-container px-4 sm:px-6 lg:px-8" aria-labelledby="footer-heading">
    <div class="items-centers grid grid-cols-1 justify-between gap-4 border-t border-gray-100 py-6 md:grid-cols-2">
        <p class="text-2xl text-white max-md:text-center">
            © 2024. Todos los derechos reservados.
        </p>
        <div class="flex text-white items-center justify-center space-x-4 text-2xl text-gray-500 md:justify-end">
            <a href="">Política de privacidad</a>
            <div class="h-4 w-px bg-gray-200"></div>
            <a href="https://wa.me/+56940704949">Contáctanos</a>
            <a href="https://maps.app.goo.gl/cVkoojYF2fGyYzHg9">Ubícanos</a>
        </div>
    </div>
</footer>