{% load static %}

<section>
    <a name="nosotros"></a>
    <div class="mt-12">
        <section>
            <div class="container px-5 py-24 mx-auto">
                <div class="p-5 bg-white flex relative items-center mx-auto border-b  mb-10 border-gray-200 rounded-lg sm:flex-row flex-col">
                    <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center flex-shrink-0">
                        <img src="{% static '/media/trabajo-en-equipo.webp' %}">
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <p class="text-red-400 text-4xl title-font font-bold mb-2">¿Quienes somos?</p>
                        <p class="leading-relaxed text-base font-normal">El Holding Bermúdez y Castillo S.A., con una amplia flota de transportes, se destaca en la ejecución de proyectos. Su continua renovación refleja su adaptación al mercado en constante cambio, impulsando su crecimiento y desarrollo. Con más de 12 años de experiencia, atiende a empresas líderes en sectores como la minería, energía y construcción.</p>
                    </div>
                </div>
                <div class="p-5 bg-white flex relative items-center mx-auto border-b  mb-10 border-gray-200 rounded-lg sm:flex-row flex-col">
                    <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center flex-shrink-0">
                        <img src="{% static '/media/usuario.webp' %}">
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <p class="text-red-400 text-4xl title-font font-bold mb-2">Nuestra labor</p>
                        <p class="leading-relaxed text-base font-normal">Somos una empresa que otorga soluciones a los requerimientos de nuestros clientes, otorgando un buen servicio, con personal calificado y transportes de última generación. Enfocados en un mejoramiento continuo que entregue calidad y seguridad en cada servicio prestado.</p>
                    </div>
                </div>
                <div class="p-5 bg-white flex relative items-center mx-auto border-b  mb-10 border-gray-200 rounded-lg sm:flex-row flex-col">
                    <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center flex-shrink-0">
                        <img src="{% static '/media/montana.webp' %}" alt="vision">
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <p class="text-red-400 text-4xl title-font font-bold mb-2">Nuestra visión</p>
                        <p class="leading-relaxed text-base font-normal">Ser la empresa líder a nivel regional en entrega de servicios, a través de relaciones a largo plazo con nuestros clientes, reconocidos por una amplia gama de equipos de excelencia, siendo nuestra base el trabajo en equipo, la confianza y mejora continua.</p>
                    </div>
                </div>
            </div> 
        </div>
    </section>
</section>