{% load static %}

<section>
    <div class="mt-16 mb-16">
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 justify-items-center m-20">
        <div class="border-b rounded-lg flex flex-col items-center p-4 size-52 mt-16">
            <img src="{% static '/media/servicio-de-calidad.webp' %}" alt="sCalidad" class="w-24 h-24 object-center mb-4">
            <p class="text-2xl text-center">
                SERVICIO DE CALIDAD
            </p>
        </div>
        <div class="border-b rounded-lg flex flex-col items-center p-4 size-52 mt-16">
            <img src="{% static '/media/objetivo.webp' %}" alt="objetivo" class="w-24 h-24 object-center mb-4">
            <p class="text-2xl text-center">
                EMPRESA LÍDER
            </p>
        </div>
        <div class="border-b rounded-lg flex flex-col items-center p-4 size-52 mt-16">
            <img src="{% static '/media/casa.webp' %}" alt="sEntrega" class="w-24 h-24 object-center mb-4">
            <p class="text-2xl text-center">
                PROPIEDADES DE CALIDAD        
            </p>
        </div>
        <div class="border-b rounded-lg flex flex-col items-center p-4 size-52 mt-16">
            <img src="{% static '/media/mapa.webp' %}" alt="organizacion" class="w-24 h-24 object-center mb-4">
            <p class="text-2xl text-center">
                ALCANCE
            </p>
        </div>
    </div>
</section>